*{
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
    
}
header{
    display: flex;
    justify-content: space-between;
} 
.icone img
{
    margin-top: 10px;
}

.icone
{
    display: flex;
}
.icone input
{
    margin-top:15px ;
    width: 400px;
    height: 40px; 
    justify-content: space-between;
}

.icone2 ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.icone2 ul li{
    padding: 10px 5px ;
}

footer{
    width: 100%;
    display: flex;
    /*centrer le contenu*/
    justify-content: center;
    /*pour poser le contenu sous forme colone*/
    flex-direction: column;
    align-items: center;
    background-color: #334155;
   padding: 30px;

}

footer ul{
    list-style: none;
    display: flex;

}
footer ul li{
    padding: 10px 20px;
}
footer ul a{
    text-decoration: none;
    color: white;

}
footer p{
    color: white;
    user-select: none;
    justify-content:center;
}
form input
{
   border: 1px solid #ccc;
  border-radius: 4px;
}
form label, form input 
{
    display: block;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    
}

form textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    width: 45%;
}
form button {
    background-color: hsl(51, 62%, 54%);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-color: black;
    width: 7%;
    display: flex;
    margin-left: 44%;
    margin-top: 10px;
    border: 1px solid #151414;
    border-radius: 4px;
}
.text1
{
    margin-top: 20px;
    margin-left: 45%;
    padding: 30px;
    font-size: larger;
}
.ligne
{
   display: flex;
   margin-left: 25px;
}
.text2
{
    margin-left: 46%;
    padding: 10px;
}
.parti1
{
    padding: 40px;
    margin-left: 450px;
    width: 60%;
}
.parti2
{
    padding: 0px;
    margin-left: 490px;
    margin-top: -50px;
    width: 60%;
}
.parti3
{
    margin-left: 490px;
}

