*{
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
    
}
header{
    display: flex;
    justify-content: space-between;
} 
.icone img
{
    margin-top: 10px;
}

.icone
{
    display: flex;
}
.icone input
{
    margin-top:15px ;
    width: 400px;
    height: 40px; 
    justify-content: space-between;
}

.icone2 ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.icone2 ul li{
    padding: 10px 5px ;
}

footer{
    width: 100%;
    display: flex;
    /*centrer le contenu*/
    justify-content: center;
    /*pour poser le contenu sous forme colone*/
    flex-direction: column;
    align-items: center;
    background-color: #334155;
   padding: 30px;

}

footer ul{
    list-style: none;
    display: flex;

}
footer ul li{
    padding: 10px 20px;
}
footer ul a{
    text-decoration: none;
    color: white;

}
footer p{
    color: white;
    user-select: none;
    justify-content:center;
}
.text1
{
    margin-top: 20px;
    margin-left: 45%;
    padding: 30px;
    font-size: larger;
}
.ligne
{
   display: flex;
   /* margin-left: 25px; */
   justify-content: space-around;
}
.text2
{
    margin-left: 46%;
    padding: 10px;
    font-size: large;
}
.ordre
{
    display: grid;
    grid-template-columns: 40% 40%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
 
.left form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}
.left form input ,.left form textarea {
    height: 30px;
    border-radius: 2px;
    resize: none;
    padding: 5px ;
    font-size: 15px;
    
}

.left form textarea{
    height: 100px;
}


#btnSub{
    border: none;
    width: 100px;
    background-color: #FACC15;

}
article img
{
    width: 100%;
}
