*{
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
} 
.icone img
{
    margin-top: 10px;
}

.icone
{
    display: flex;
}
.icone input
{
    margin-top:15px ;
    width: 400px;
    height: 40px; 
    justify-content: space-between;
}

.icone2 ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.icone2 ul li{
    padding: 10px 5px ;
}
----------
.main{
    
    align-items: start;
    justify-content: center;
    margin-bottom: 30px;
}
.tableu{
    display: flex;
    display: grid;
    grid-template-columns: 60% 30%;
    flex-direction: column;
   /* border: 1px solid black;*/

}

-----------
#dvImage1 img {
    width: 100px;
    border-radius: 5px;

}

.Head div{
    display: flex;
    justify-content: start;
    padding: 10px;
    border-bottom: 1px solid black;
    

}

#artct2Page4{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

#dvImage1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;

}

#dvImage1 input{
    margin-right: 16px;

}

#gauche{
    display: flex;
    padding: 10px 5px;
   
}

#droit #del img{
    width: 30px;
    height: 30px;
    padding: 5px;
   
}
/*les boutton - et +*/
.plusmoin
{
    display: flex;

}
/*lordre des boutton - et +*/
.plusmoin p{
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;

    
}

.moin{
    background-color: #CFCFCF;
    color: white;
}

.plus{
    background-color:#FACC15;
    color: white;
}

#select1{
    padding: 5px 5px;
    background-color: #F1F1F1;
    margin: 5px 0px;
    border-radius: 50px;
}

#ALL_PROD{
    width: 90%;
}
#secDetails{
    margin-left:80px ;
    margin-top: 111px;
    width: 80%;
   border: 0.5px solid rgb(130, 124, 124);
    
}

#detailsPrice div{
    display: flex;
    justify-content: space-between;

}

.Shipping{
    border-bottom: 0.5px solid rgb(174, 163, 163);
    padding: 10px 10px;
}

.Prix{
    padding: 10px 10px;
}
.Prix div{
    margin-bottom: 20px;
}
.Prix button{
    width: 100%;
    border: none;
    padding: 10px 0px;
    margin-bottom: 20px;
    background-color: #18a06e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#lastDiv{
    flex-direction: column;
}

#lastDiv h5{
    margin-left: 32px;
}














footer{
    width: 100%;
    display: flex;
    /*centrer le contenu*/
    justify-content: center;
    /*pour poser le contenu sous forme colone*/
    flex-direction: column;
    align-items: center;
    background-color: #334155;
   padding: 30px;

}

footer ul{
    list-style: none;
    display: flex;

}
footer ul li{
    padding: 10px 20px;
}

footer ul a{
    text-decoration: none;
    color: white;

}

footer p{
    color: white;
    user-select: none;
    justify-content:center;
}
#tableau{
    margin-bottom: 20px;
}

#secDetails{
    width: 100%;
    margin-left: 0px;
}

#select1{
    font-size: 0.9em;
}