*{
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
} 
.icone img
{
    margin-top: 10px;
}

.icone
{
    display: flex;
}
.icone input
{
    margin-top:15px ;
    width: 400px;
    height: 40px; 
    justify-content: space-between;
}

.icone2 ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.icone2 ul li{
    padding: 10px 5px ;
}
main img
{
    margin: 15px;
    border: 1px solid black;
    margin-right: 20px;
}
main .tableu img 
{
    border: 1px solid black;
    float: left;
    margin: 15px;
}
main
{
    flex-direction: column;
}

#sec1{
    display: flex;
    justify-content: space-evenly;
}
#BestProduct{
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 50px;
    color: rgb(14, 13, 13);
}
#BestRemise
{
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 50px;
    color: rgb(13, 13, 13);
}
.product
{
    padding: 20px 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
}
.products
{
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;

}

footer{
    width: 100%;
    display: flex;
    /*centrer le contenu*/
    justify-content: center;
    /*pour poser le contenu sous forme colone*/
    flex-direction: column;
    align-items: center;
    background-color: #334155;
   padding: 30px;

}

footer ul{
    list-style: none;
    display: flex;

}
footer ul li{
    padding: 10px 20px;
}
footer ul a{
    text-decoration: none;
    color: white;

}

footer p{
    color: white;
    user-select: none;
    justify-content:center;
}

.container{
    display: flex;
}
.pro2
{
    padding: 20px 0;
    /*text-align: center;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    margin-left: 200px;
    
}
.navbare
{
    margin-top: 50px;
    margin-left: 30px;
 
}
.titre
{
    margin-left: 370px;
    margin-top: 15px;
}
.figcaption
 {
    background-color: rgb(231, 234, 236);
    color: rgb(14, 14, 14);
    padding: 2px;
    margin-top: -20px;
    width: 345px;
    margin-left: 13px;
  }
  .border-radius{
    border-radius: 25px;
    background: var(--yellow-400, #FACC15);
    width: 100px;
    height: 39px;
   
}
.solde
{
    border-left: 1px solid gray ;
    margin-left: 7px;
    margin-top: 10px;
    font-size: 20px;
}
.icone
{
    margin-top: -5px;
}
.icon
{
    margin-bottom: 45px;
    margin-top: -43px;
    margin-left: 50px;
    color: aliceblue;
    font-size: 23px;
}
.prix2 
{
    font-size: 21px;
    color: #727169;
}
.prix 
{
    font-size: 22px;
    color: rgb(6, 6, 7);
}
.description 
{
    font-family: Inter;
    
}
.shopping
{
    margin-left: 85px;
    margin-top: -20px;
}
.gride-continaire
{
    display: grid;
    gap: 5px;
    padding: 5px;
}